/* Footer */

footer {
    background-color: pink;
    border-top: 1px solid gray;
    padding-bottom: 3rem;
}

footer em {
    font-family: 'Victor Mono', monospace;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

footer p {
    text-align: center;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.location h1 {
    text-align: left;
    font-family: 'Victor Mono', monospace;
    padding-left: 1rem;
}

.location ul {
    list-style: none;
    padding: 0;
    padding-left: 1rem;
}

.location li {
    text-align: left;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5rem;
}

.social-media {
    display: flex;
    gap: 2rem;

}

.social-media img {
    height: auto;
    max-width: 4rem;
    border: 2px solid black;
    border-radius: 50%;
}

.contacts {
    background-color: pink;
    border: 1px dotted gray;
}

.contacts h3 {
    text-align: center;
    font-family: 'Victor Mono', monospace;
    margin: 0;
    padding: 0.5rem;
}

@media only screen and (max-width: 480px) {
    .location {
        padding-right: 2rem;
    }
    .location li {
        font-size: 1rem;
    }
    .location h1 {
        font-size: 1.5rem;
    }
    .social-media {
        gap: 0.5rem;
        padding-right: 0.5rem;
    }
}